    <section id="encontrar-emprego">
        <div class="container">
            <div class="row">
                <div class="col-12" id="procurar-emprego">
                    <h2>Encontre o emprego que procura</h2>
                    <p>Somos um site com várias vagas direcionadas ao home-office</p>
                    <form action="" autocomplete="off">
                            <div id="btn">
                                <input type="text" id="procurar">
                                <button type="submit" class="btn btn-primary">procurar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="container" id="empregos">
            <div class="row">
                <div class="col-12">
                    <h2>Veja nossas vagas em destaque</h2>
                    <ul>
                        <li id="lista-nova">
                            <img src="/1590898.png" alt="imagem">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$2000,00</p>
                            <span class="Nova-vaga">Nova</span>
                            <a href="#" class="btn btn-primary" id="ver">Ver vaga</a>
                        </li>
                        <li>
                            <img src="/1590898.png" alt="imagem">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$2000,00</p>
                            <a href="#" class="btn btn-primary" id="ver">Ver vaga</a>
                        </li>
                        <li>
                            <img src="/1590898.png" alt="imagem">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$2000,00</p>
                            <a href="#" class="btn btn-primary" id="ver">Ver vaga</a>
                        </li>
                        <li>
                            <img src="/1590898.png" alt="imagem">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$2000,00</p>
                            <a href="#" class="btn btn-primary" id="ver">Ver vaga</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>